@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

header img{
    width: 50px;
    height: 50px;
}

header{
    background-image: radial-gradient(circle at center, #45214A, #28132b);
    text-align: center;
}

header h1{
    font-size: 8em;
    line-height: 0.7em;
}

h1.principal{
    display: inline-block;
}

header h1{
    color: white;
}

header h2{
    color: white;
}

header {
    color: white;
}
